<template>
  <el-dropdown
    trigger="click"
    class="international"
    @command="handleSetLanguage"
  >
    <div>
      <svg-icon
        name="language"
        class="international-icon"
      />
    </div>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item
        :disabled="language==='en'"
        command="en"
      >
        English
      </el-dropdown-item>
      <el-dropdown-item
        :disabled="language==='ru'"
        command="ru"
      >
        Русский
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { vxmApp } from '@/store/modules/app';

@Component
export default class LangSelect extends Vue {
  get language() {
    return vxmApp.language;
  }

  private handleSetLanguage(lang: string) {
    this.$i18n.locale = lang;
    vxmApp.setLanguage(lang);
    this.$message({
      message: this.$t('locale.switched').toString(),
      type: 'success',
    });
  }
}
</script>
