<template>
  <div class="films">
    <navbar />
    <div class="filter-container">
      <el-input
        v-model="listQuery.nat_title"
        :placeholder="$t('films.nativeTitle')"
        clearable
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-input
        v-model="listQuery.loc_title"
        :placeholder="$t('films.localizedTitle')"
        clearable
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-input-number
        v-model="listQuery.year_from"
        :placeholder="$t('films.yearFrom')"
        :controls="false"
        name="searchYearFrom"
        class="filter-item"
        style="min-width: 150px;"
        @keyup.enter.native="handleFilter"
        @keyup.native="updYear"
      />
      <el-input-number
        v-model="listQuery.year_to"
        :placeholder="$t('films.yearTo')"
        :controls="false"
        name="searchYearTo"
        class="filter-item"
        style="min-width: 150px;"
        @keyup.enter.native="handleFilter"
        @keyup.native="updYear"
      />
      <el-button
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        :disabled="filterDisabled"
        @click="handleFilter"
      >
        {{ $t('films.search') }}
      </el-button>
      <el-button
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        icon="el-icon-edit"
        @click="handleAppend"
      >
        {{ $t('films.addLabel') }}
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      :default-sort="{prop: 'year', order: 'ascending'}"
      @sort-change="setSort"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
        prop="native_title"
        :label="$t('films.nativeTitle')"
        sortable="custom"
      />

      <el-table-column
        prop="localized_title"
        :label="$t('films.localizedTitle')"
        sortable="custom"
      />

      <el-table-column
        prop="year"
        :label="$t('films.yearCaption')"
        sortable="custom"
      />

      <el-table-column
        :label="$t('films.actions')"
        align="center"
        width="230"
        class-name="fixed-width"
      >
        <template slot-scope="{row}">
          <el-button
            type="primary"
            size="mini"
            @click="handleEdit(row)"
          >
            {{ $t('films.editLabel') }}
          </el-button>

          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(row)"
          >
            {{ $t('films.deleteLabel') }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>


    <el-dialog
      :title="editDialogTitle"
      :visible.sync="dialogVisible"
    >
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="tmpFilm"
      >
        <el-form-item
          :label="$t('films.nativeTitle')"
          prop="native_title"
        >
          <el-input v-model="tmpFilm.native_title" />
        </el-form-item>

        <el-form-item
          :label="$t('films.localizedTitle')"
          prop="localized_title"
        >
          <el-input v-model="tmpFilm.localized_title" />
        </el-form-item>

        <el-form-item
          :label="$t('films.yearCaption')"
          prop="year"
        >
          <el-input-number v-model="tmpFilm.year" />
        </el-form-item>
      </el-form>

      <div
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">
          {{ $t('films.edit.cancel') }}
        </el-button>
        <el-button
          type="primary"
          @click="dialogStatus==='create'?createItem():updateItem()"
        >
          {{ $t('films.edit.save') }}
        </el-button>
      </div>
    </el-dialog>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Form } from 'element-ui';
import { vxmUser } from '@/store/modules/user';
import { vxmApp } from '@/store/modules/app';
import i18n from '@/lang';
import Navbar from '@/components/Navbar/index.vue';
import Pagination from '@/components/Pagination/index.vue'
import { IListQuery, IFilm, list as apiList, create, update, remove } from '@/api/film';

@Component({
  components: {
    Navbar,
    Pagination,
  },
})
export default class Films extends Vue {
  private total = 0;
  private list: IFilm[] = [];
  private loading = false;
  private listQuery: IListQuery = {
    page: 1,
    limit: 5,
    nat_title: undefined,
    loc_title: undefined,
    year_from: undefined,
    year_to: undefined,
    sort: '+year',
  };

  private tmpFilm: IFilm = {
    id: 0,
    native_title: '',
    localized_title: '',
    year: null,
  }
  private dialogVisible = false;
  private dialogStatus = '';

  private rules = {
    native_title: [{ required: true, message: i18n.t('films.edit.nativeTitle'), trigger: 'change' }],
    localized_title: [{ required: false }],
    year: [{validator: this.validateYear, trigger: 'blur'}],
  }

  get editDialogTitle(): string {
    const i18nKey = (this.dialogStatus === 'create' ? 'dialogAppendTitle' : 'dialogEditTitle' );
    return this.$t(`films.edit.${i18nKey}`).toString();
  }

  get filterDisabled() {
    return !this.listQuery.nat_title &&
           !this.listQuery.loc_title &&
           !this.listQuery.year_from &&
           !this.listQuery.year_to;
  }

  private validateYear(rule: any, value: number | null, callback: (error?: Error) => void) {
    const thisYear = new Date().getFullYear();
    if (value !== null && value > 0 && (value < 1895 || value > thisYear)) {
      callback(new Error(this.$t('films.edit.year', {beginYear: 1895, thisYear}).toString()));
    } else {
      callback();
    }
  }

  private created() {
    this.getList()
  }

  private async getList() {
    this.loading = true;
    try {
      const data = await apiList(this.listQuery);
      if (typeof data.items !== 'undefined' && typeof data.total === 'number') {
        this.list = data.items;
        this.total = data.total;
      }
    } finally {
      this.loading = false;
    }
  }

  private handleEdit(row: IFilm): void {
    this.tmpFilm = {...row};
    this.dialogStatus = 'edit';
    this.dialogVisible = true;
    this.$nextTick(() => {
      (this.$refs.dataForm as Form).clearValidate();
    })
  }

  private updateItem() {
    (this.$refs.dataForm as Form).validate(async (valid) => {
      if (valid) {
        this.dialogVisible = false;
        const oldRow = this.list.find((item) => item.id === this.tmpFilm.id);
        if (typeof oldRow !== 'undefined') {
          if (oldRow.native_title === this.tmpFilm.native_title &&
              oldRow.localized_title === this.tmpFilm.localized_title &&
              oldRow.year === this.tmpFilm.year) {
            return;
          }
        }
        try {
          this.loading = true;
          const data = await update(this.tmpFilm);
          if (data === '') {
            this.getList();
          }
        } finally {
          this.loading = false;
        }
      }
    });
  }

  private handleAppend(row: IFilm): void {
    this.tmpFilm = {
      id: 0,
      native_title: '',
      localized_title: '',
      year: null,
    };
    this.dialogStatus = 'create';
    this.dialogVisible = true;
    this.$nextTick(() => {
      (this.$refs.dataForm as Form).clearValidate();
    })
  }

  private createItem() {
    (this.$refs.dataForm as Form).validate(async (valid) => {
      if (valid) {
        this.dialogVisible = false;
        try {
          this.loading = true;
          const data = await create(this.tmpFilm);
          if (data === '') {
            this.getList();
          }
        } finally {
          this.loading = false;
        }
      }
    });
  }

  private handleDelete(row: IFilm): void {
    const film = '"' +
                 (vxmApp.language === 'ru' ? row.localized_title : row.native_title) +
                 '"' + (row.year ? ',' + row.year : '');
    const message = this.$t('films.confirmDelete', {film}).toString();
    this.$confirm(message)
      .then(async () => {
        this.loading = true;
        try {
          const data = await remove(row.id);
          if (data === '') {
            this.getList();
          }
        } finally {
          this.loading = false;
        }
      })
      .catch(() => { ; });
  }

  private handleFilter(): void {
    this.listQuery.page = 1;
    this.getList();
  }

  private updYear(event: KeyboardEvent) {
    const input = event.target as HTMLInputElement;
    const val = Number.parseInt(input.value, 10);
    if (input.name === 'searchYearFrom') {
      this.listQuery.year_from = val;
    } else {
      this.listQuery.year_to = val;
    }
  }

  private  setSort(sort: {column: any, prop: string, order: string}) {
    if (sort.order === null) {
      this.listQuery.sort = '+year';
    } else {
      this.listQuery.sort = (sort.order === 'descending' ? '-' : '+') + sort.prop;
    }
    this.getList();
  }
}
</script>

<style scoped lang="scss">
  .fixed-width {
    .el-button--mini {
      width: auto;
    }
  }
  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
    padding: 0;

    .filter-item {
      margin-bottom: 0;
      margin-left: 10px;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
</style>