<template>
  <div class="login-container">
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      autocomplete="on"
      label-position="left"
    >
      <div class="title-container">
        <h3 class="title">
          {{ isRegisterMode ? $t('login.registerTitle') : $t('login.title') }}
        </h3>
        <lang-select class="set-language" />
      </div>

      <el-form-item prop="username">
        <span class="svg-container">
          <svg-icon name="user" />
        </span>
        <el-input
          ref="username"
          v-model="loginForm.username"
          :placeholder="$t('login.username')"
          name="username"
          type="text"
          tabindex="1"
          autocomplete="on"
        />
      </el-form-item>

      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon name="password" />
        </span>
        <el-input
          :key="passwordType"
          ref="password"
          v-model="loginForm.password"
          :type="passwordType"
          :placeholder="$t('login.password')"
          name="password"
          tabindex="2"
          autocomplete="on"
          @blur="capsTooltip = false"
          @keyup.enter.native="handleLogin"
        />
        <span
          class="show-pwd"
          @click="showPwd"
        >
          <svg-icon :name="passwordType === 'password' ? 'eye-off' : 'eye-on'" />
        </span>
      </el-form-item>

      <el-form-item
        prop="passwordAgain"
        v-if="isRegisterMode"
      >
        <span class="svg-container">
          <svg-icon name="password" />
        </span>
        <el-input
          :key="passwordType"
          ref="passwordAgain"
          v-model="loginForm.passwordAgain"
          :type="passwordType"
          :placeholder="$t('login.passwordAgain')"
          name="passwordAgain"
          tabindex="3"
          autocomplete="on"
          @blur="capsTooltip = false"
          @keyup.enter.native="handleRegister"
        />
        <span
          class="show-pwd"
          @click="showPwd"
        >
          <svg-icon :name="passwordType === 'password' ? 'eye-off' : 'eye-on'" />
        </span>
      </el-form-item>

      <el-button
        :loading="loading"
        type="primary"
        class="submit"
        @click.native.prevent="handleLogin"
        v-if="!isRegisterMode"
      >
        {{ $t('login.logIn') }}
      </el-button>

      <el-button
        :loading="loading"
        type="primary"
        class="submit"
        @click.native.prevent="handleRegister"
        v-if="isRegisterMode"
      >
        {{ $t('login.register') }}
      </el-button>

      <el-button
        :disabled="loading"
        type="primary"
        class="switch-route-button"
        @click.native.prevent="goToRegister"
        v-if="!isRegisterMode"
      >
        {{ $t('login.toRegister') }}
      </el-button>

      <el-button
        :disabled="loading"
        type="primary"
        class="switch-route-button"
        @click.native.prevent="goToLogin"
        v-if="isRegisterMode"
      >
        {{ $t('login.toLogin') }}
      </el-button>
    </el-form>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Route } from 'vue-router';
import { Form as ElForm, Input } from 'element-ui';
import LangSelect from '@/components/LangSelect/index.vue';
import { vxmUser } from '@/store/modules/user';
import { isValidLogin } from '@/helpers';


@Component({
  components: { LangSelect },
})
export default class Login extends Vue {
  private passwordType = 'password';
  private loading = false;
  private showDialog = false;
  private capsTooltip = false;
  private isRegisterMode = false;

  private loginForm = {
    username: vxmUser.login,
    password: '',
    passwordAgain: '',
  };

  private loginRules = {
    username: [{ validator: this.validateUsername, trigger: 'blur' }],
    password: [{ validator: this.validatePassword, trigger: 'blur' }],
    passwordAgain: [{ validator: this.validatePassword, trigger: 'blur' }],
  };

  private validateUsername(rule: any, value: string, callback: (error?: Error) => void) {
    if (!isValidLogin(value)) {
      callback(new Error(this.$t('login.badLogin').toString()));
    } else {
      callback();
    }
  }

  private validatePassword(rule: any, value: string, callback: (error?: Error) => void) {
    if (this.isRegisterMode && value.length < 4) {
      callback(new Error(this.$t('login.badPasswd').toString()));
    } else if (rule.field === 'passwordAgain' &&
               this.loginForm.password !== this.loginForm.passwordAgain) {
      callback(new Error(this.$t('login.pwdNotEqual').toString()));
    } else {
      callback();
    }
  }

  private mounted() {
    this.isRegisterMode = this.$route.name === 'register';
    if (this.loginForm.username === '') {
      (this.$refs.username as Input).focus();
    } else if (this.loginForm.password === '') {
      (this.$refs.password as Input).focus();
    }
  }

  @Watch('$route', { immediate: true })
  private onRouteChange(route: Route) {
    this.isRegisterMode = this.$route.name === 'register';
    if (this.isRegisterMode) {
      this.resetForm();
    }
  }

  private resetForm() {
    this.loginForm.username = '';
    this.loginForm.password = '';
    this.loginForm.passwordAgain = '';
  }

  private showPwd() {
    if (this.passwordType === 'password') {
      this.passwordType = '';
    } else {
      this.passwordType = 'password';
    }
    this.$nextTick(() => {
      (this.$refs.password as Input).focus();
    });
  }

  private handleLogin() {
    (this.$refs.loginForm as ElForm).validate(async (valid: boolean) => {
      if (valid) {
        this.loading = true;
        try {
          const {username, password} = this.loginForm;
          await vxmUser.logIn({username, password});
        } finally {
          this.loading = false;
        }
        if (vxmUser.token !== '') {
          this.$router.push({name: 'films'});
        }
      } else {
        return false;
      }
    });
  }

  private handleRegister() {
    (this.$refs.loginForm as ElForm).validate(async (valid: boolean) => {
      if (valid) {
        this.loading = true;
        try {
          const {username, password} = this.loginForm;
          await vxmUser.register({username, password});
        } finally {
          this.loading = false;
        }
        if (vxmUser.token !== '') {
          this.$router.push({name: 'films'});
        }
      } else {
        return false;
      }
    });
  }

  private goToRegister() {
    this.$router.replace({name: 'register'});
  }

  private goToLogin() {
    this.$router.replace({name: 'login'});
  }
}
</script>

<style lang="scss">
// References: https://www.zhangxinxu.com/wordpress/2018/01/css-caret-color-first-line/
@supports (-webkit-mask: none) and (not (cater-color: $loginCursorColor)) {
  .login-container .el-input {
    input { color: $loginCursorColor; }
    input::first-line { color: $lightGray; }
  }
}

.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      height: 47px;
      background: transparent;
      border: 0px;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $lightGray;
      caret-color: $loginCursorColor;
      -webkit-appearance: none;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $loginBg inset !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
</style>

<style lang="scss" scoped>
.login-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $loginBg;

  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $darkGray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $lightGray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }

    .set-language {
      color: #fff;
      position: absolute;
      top: 3px;
      font-size: 18px;
      right: 0px;
      cursor: pointer;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $darkGray;
    cursor: pointer;
    user-select: none;
  }

  .submit {
    width:80%;
    margin-bottom:30px;
  }

  .switch-route-button {
    position: absolute;
    bottom: 0;
    right: -250px;
    margin-bottom:30px;

    @media only screen and (max-width:768px) {
      & {
        position: static;

      }
    }
  }
}
</style>
