<template>
  <div class="navbar">
    <div :class="['login', {mobile: isMobile}]">
      <span class="label">{{ $t('login.logedInAs') }}</span>
      <span>{{ login }}</span>
    </div>
    <div class="right-menu">
      <lang-select class="right-menu-item hover-effect" />
      <el-button
        :loading="loading"
        type="primary"
        class="logout"
        @click.native.prevent="logout"
      >
        {{ $t('login.logout') }}
      </el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LangSelect from '@/components/LangSelect/index.vue';
import { vxmApp } from '@/store/modules/app';
import { vxmUser } from '@/store/modules/user';

@Component({components: { LangSelect }})
export default class Navbar extends Vue {
  private loading = false;

  get login() {
    return vxmUser.login;
  }

  get device() {
    return vxmApp.device.toString();
  }

  get isMobile() {
    return this.device === 'mobile';
  }

  private async logout() {
    this.loading = true;
    try {
      await vxmUser.logOut();
    } finally {
      this.loading = false;
    }
    this.$router.push({name : 'login'});
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  padding: 0px 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .login {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;

    .label {
      margin: 0px 0.5em 0px 0px;
      font-weight: normal;
    }
    &.mobile .label {
      display: none;
    }
  }

  .right-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:focus {
      outline: none;
    }

    .el-button {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 1em;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0px 8px;
      height: 100%;
      font-size: 22px;
      color: #5a5e66;
      vertical-align: text-bottom;
      position: relative;
      top: -2px;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }

    }
  }
}
</style>
