<template>
  <div id="app">
    <!--
    <div class="login">{{ login }}</div>
    <div id="nav">
      <router-link to="/films">Films</router-link> |
      <router-link to="/login">Login</router-link> |
      <router-link to="/register">Register</router-link>
    </div>
    -->
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { vxmUser } from './store/modules/user';
import { vxmApp, DeviceType } from './store/modules/app';

const WIDTH = 992; // refer to Bootstrap's responsive design

@Component
export default class App extends Vue {
  get login() {
    return vxmUser.login;
  }

  private beforeMount() {
    window.addEventListener('resize', this.resizeHandler);
  }

  private mounted() {
    vxmUser.loadToken();
    if (! vxmUser.token) {
      if (this.$route.name !== 'login') {
        this.$router.replace({name: 'login'});
      }
    } else {
      if (this.$route.name !== 'films') {
        this.$router.replace({name: 'films'});
      }
    }
  }

  private beforeDestroy() {
    window.removeEventListener('resize', this.resizeHandler);
  }

  private isMobile() {
    const rect = document.body.getBoundingClientRect();
    return rect.width - 1 < WIDTH;
  }

  private resizeHandler() {
    if (!document.hidden) {
      vxmApp.setDevice(this.isMobile() ? DeviceType.Mobile : DeviceType.Desktop);
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
